FIVEM_SERVER_BASE_URL=http://127.0.0.1:30120
NEXT_PUBLIC_FIVEM_JOIN_CODE=alq4yz
NEXT_PUBLIC_DISCORD_URL=https://discord.gg/pv8FUfdqXz

ADMIN_PASSWORD=CHANGE_THIS_PASSWORD
ADMIN_SESSION_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
